:root {
    --clr-background: #5296AB;
    --clr-background-light: #8ed3e6;
    --clr-1: #335E6B;
    --clr-2: #71CEEB;
    --clr-primary-light: #77D9F7;
    --clr-4: #64B8D1;
    --clr-primary-slight: #D5ECF7;
    --clr-main-dark: #000;
    --clr-main-light: #FFF;
  
  }
  